name: Build Android APK
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'
      - name: Install MAUI
        run: dotnet workload install maui-android
      - name: Build
        run: dotnet publish GalaxyBudsClient/GalaxyBudsClient.csproj -f net8.0-android -c Release -p:AndroidPackageFormats=apk -o build_out
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Android-APK
          path: build_out/*.apk
          
